@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Gabarito", sans-serif;
  scroll-behavior: smooth;
}

/*Account css file*/

:root {
  --back-color: #fcfcfc;
  --a-color: rgb(153, 114, 16);
  --list-color: rgb(43, 43, 43);
  --shadow: rgb(101, 101, 101);
  --buttons: rgba(252, 184, 0, 255);
  --main-color: #ffbc04;
}
header {
  position: sticky;
  top: 0;
  right: 0;
  z-index: 1004;
}
body {
  background-color: var(--back-color);
  overflow-x: hidden;
  height: auto;
}
#active-home li a {
  background-color: #e1bf03;
  color: rgb(29, 29, 29);
}

/*header section styles*/

.header-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color);
  width: 100%;
  padding: 1.2rem;
  z-index: 1001;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2.5rem;
  padding: 0.7rem;
  font-size: 1rem;
}

.nav-links li a {
  /* color: rgb(41, 41, 41); */
  color: var(--back-color);
  font-size: 0.85rem;
  font-weight: 100;
}

.header-sub-nav {
  width: 100%;
  /* background-color: var(--back-color); */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: rgb(47, 47, 47);
}
.list {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.list li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.3rem;
}
#add {
  font-size: 1rem;
}
.hamburger {
  display: none;
}

#filter li {
  margin: 7px;
}

#filter li a {
  font-size: 1rem;
}

#filter :last-child {
  margin-bottom: 1rem;
}
#filter {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(47, 47, 47);
  text-align: center;
  height: auto;
  width: 200px;
  top: -1000px;
  left: 1450px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}
#notify {
  position: absolute;
  top: -5px;
  left: 40px;
  font-size: 1rem;
  background-color: rgb(29, 29, 29);
  padding: 0.1rem 0.3rem;
  border-radius: 50px;
  color: var(--main-color);
}

#notify-1 {
  position: relative;
}
#filter.active-2 {
  top: 150px;
}

.search {
  position: relative;
}

.tem {
  display: none;
}
.search input {
  font-size: 1rem;
  border: none;
  border-radius: 20px;
  padding: 0.9rem;
  width: 700px;

  outline: none;
  background-color: #ebebeb;
}

.bx-search-alt-2 {
  position: absolute;
  right: 20px;
  font-size: 1rem;
  top: 15px;
  color: rgb(165, 165, 165);
}
.bxs-user,
.bxs-cart-alt {
  font-size: 2rem;
  color: rgb(27, 27, 27);
  padding: 0.6rem;
  border-radius: 50px;
  background-color: orange;
}
#active-2 {
  background-color: var(--main-color);
  padding: 0.4rem;
  border-radius: 10px;
}
#u-logo {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.3rem;
}
.navbar-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}
.navbar-icon h5 {
  color: rgb(61, 61, 61);
  font-size: 1.8rem;
  font-style: italic;
}
.bxs-user:hover {
  background-color: rgb(253, 201, 104);
  border-radius: 60px;
}
.bxs-cart-alt:hover {
  background-color: rgb(253, 201, 104);
  border-radius: 60px;
}
.navbar-icon img {
  height: 70px;
  background-color: rgb(27, 27, 27);
  width: 70px;
  border-radius: 200px;
  padding: 0.5rem;
}

.navbar-icon h1 {
  font-size: 3rem;
  color: var(--buttons);
}
.list {
  display: flex;
}

.list li a {
  margin-left: 1rem;
  color: rgb(31, 31, 31);
  font-size: 0.8rem;
  transition: 0.5s;
}
.list li a:hover {
  color: white;
}




#more {
    background-color: #282828;
    border-radius: 10px;
    font-size: 0.8rem;
    text-align: center;
    color: whitesmoke;
    width: 140px;
    outline: none;
  }
  
.profile{
  display: none;
}
.main-account{

  width: 100%;
  height: auto;
  position: relative;
}

.sub-account{

  width: 100%;
  height:auto;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}

.error
{

  color: rgb(255, 48, 48);
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.error h3{

  border: 1px solid red;
  
  width: 300px;
  text-align: center;
  background-color: rgb(255, 244, 244);
  border-radius: 10px;
}

.correct
{


  color: rgb(32, 205, 16);
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.correct h3{

  border: 1px solid rgb(32, 205, 16);
  
  width: 300px;
  text-align: center;
  background-color: rgb(255, 244, 244);
  border-radius: 10px;
}



.account-box{


  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  text-align: left;
  margin-bottom: 6rem;



}
.account-box-1{

  /* border: 1px solid red; */
  padding: 1rem;
  width: 100%;
}

.profile-box{

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;


}

.account-box-1 input{

  margin:1rem ;
  width: 400px;
  height: 40px;
  padding: 0.5rem;
  border-radius: 5px;
  height: 50px;
  margin-bottom: 1.3rem;
  background-color: #f7f7f7;
  border: 1px solid rgb(204, 204, 204);
}

.account-box-1 label {
  font-size: 1.2rem;
  color: #3d3d3d;
}



.save {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding:0 1.9rem;
}

.error-correct
{

  margin-top: 1rem;
  color: rgb(255, 48, 48);
  display: flex;
  justify-content: center;
}

.error-correct h3{

  border: 1px solid red;
  
  width: 200px;
  text-align: center;
  background-color: rgb(255, 244, 244);
  border-radius: 10px;
}

.save button{

  width: 300px;
  border-radius: 10px;
  height: 50px;
  background-color: #282828;
  font-size: 1.3rem;
  color: whitesmoke;
}

.save button:hover{

  background-color: #3d3d3d;
  cursor: pointer;
}
.orders {
  width: 100%;
  padding:0 1.9rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}
.orders  button{
  
  width: 170px;
  border-radius: 10px;
  height: 35px;
  background-color: #282828;
  font-size: 1rem;
 
  color: whitesmoke;;
  margin-bottom: 0.7rem;
}
#order-active{

  background-color: var(--main-color);
  border: none;

}
.orders button:hover{

  background-color: #3d3d3d;
  cursor: pointer;
}


.profile-pic{
position: absolute;
top: 20px;
left: 10px;
width: auto;
text-align: left;
display: flex;
flex-direction: column;
align-items: center;
height: auto;
}
.profile-pic img{

width: 90px;
padding: 0.7rem;
height: 100%;
background-color: #e6e6e6;
border-radius: 50px;
height: 100px;
}

.user-name{

gap: 1rem;
margin-top: 1rem;
text-align: center;

}

.user-name-1 h3,h4{
font-weight: 300;
font-size: 1rem;
}

.profile-topic h1{
font-weight: 600;
font-size: 1.3rem;
}

.profile-pic h2{
font-size: 1.3rem;
}


footer {
    height: auto;
    width: 100%;
  
    /* background: rgb(252,194,1);
    background: linear-gradient(90deg, rgba(252,194,1,1) 29%, rgba(238,182,9,1) 56%, rgba(219,165,20,1) 70%, rgba(198,147,32,1) 81%, rgba(183,134,40,1) 92%); */
    background-color: var(--main-color);
  }
  
  .payment {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.3rem;
  }
  
  .payment img {
    height: 15px;
    width: 20px;
    border-radius: 5px;
  }
  
  .copyright a {
    color: #cecece;
    font-size: 0.8rem;
  }
  .copyright {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    height: auto;
    flex-wrap: wrap;
    padding: 0.5rem 0;
    background-color: #282828;
  }
  span {
    font-weight: 100;
  }
  
  .footer-card {
    display: flex;
    justify-content: center;
    gap: 12rem;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding: 2rem 0;
  }
  .footer-card a {
    color: black;
    font-size: 0.9rem;
    list-style: disc;
  }
  
  #bx {
    font-size: 1.7rem;
  }
  #social li a {
    padding: 1rem;
  }
  .list-footer li a {
    line-height: 24px;
  }
  .list-footer li a:hover {
    color: #e6e6e6;
  }
  .list-footer h2 {
    font-size: 1.2rem;
  }
  
  #social {
    display: flex;
    align-items: center;
  }
  
  #arrow {
    font-size: 2rem;
    margin-left: 5rem;
  }
  #arrow:hover {
    color: brown;
  }
  
  /*media quaries*/
  
  @media (max-width: 1800px) {
    .cards {
      height: auto;
      width: 190px;
      gap: 3rem;
    }
  
    .cart h1 {
      font-size: 2rem;
    }
    .cards h2 {
      font-size: 0.8rem;
    }
    .card-data h1 {
      font-size: 1.2rem;
    }
  
    .cards button {
      padding: 0.5rem 1.8rem;
      font-size: 0.9rem;
    }
  
    .cards img {
      height: 150px;
      width: 100%;
    }
    
.sub-account{

  width: 100%;
}

.account-box{


 
  margin-top: 3rem;
  margin-bottom: 5rem;



}
.account-box-1{

  padding: 1rem;
  width: 100%;
}

.profile-box{

  width: 100%;
 


}

.account-box-1 input{

  margin:1rem ;
  width: 360px;
  height: 40px;
  padding: 0.8rem;
  border-radius: 5px;
 
  font-size: 0.8rem;
 

}

.account-box-1 label {
  font-size: 1.2rem;

}



.save {
  width: 100%;

  padding:0 1.5rem;
}

.save button{

  width: 280px;

  height: 45px;

  font-size: 1.2rem;

}



.profile-pic img{


  background-color: #e6e6e6;
  border-radius: 50px;
}

.user-name{

  gap: 0.8rem;
  margin-top: 0.8rem;
}

.user-name-1 h3,h4{
  font-size: 0.9rem;
}

.profile-topic h1{
  
  font-size: 1.2rem;
}

.profile-pic h2{
  font-size: 1.2rem;
}


  }
  
  @media (max-width: 1650px) {
    .footer-card a {
      color: black;
      font-size: 0.9rem;
      list-style: disc;
    }
    .footer-card {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 9rem;
    }
  
    .list-2 li a {
      font-size: 0.7rem;
    }
  
    .cards {
      height: auto;
      width: 180px;
      gap: 3rem;
    }
  
    .cart h1 {
      font-size: 1.8rem;
    }
    .cards h2 {
      font-size: 0.7rem;
    }
  
    .card-data h1 {
      font-size: 1rem;
    }
    .cards button {
      padding: 0.5rem 1.9rem;
      font-size: 0.8rem;
    }
  
    .cards img {
      height: 140px;
      width: 100%;
    }
        
.sub-account{

  width: 100%;
}

.account-box{


 
  margin-top: 3rem;
  margin-bottom: 5rem;



}
.account-box-1{

  padding: 0.8rem;
  width: 100%;
}

.profile-box{

  width: 100%;
 


}

.account-box-1 input{

  margin:0.8rem ;
  width: 340px;
  height: 35px;
  padding: 0.7rem;
  font-size: 0.7rem;
 

}

.account-box-1 label {
  font-size: 0.9rem;

}



.save {
  width: 100%;

  padding:0 1rem;
}

.save button{

  width: 230px;

  height: 40px;

  font-size: 1rem;

}



.profile-pic{
 
  top: 20px;
  left: 10px;
  width: 330px;
 
  height: 180px;
}


.user-name{

  gap: 0.7rem;
  margin-top: 0.7rem;
}

.user-name-1 h3,h4{
 
  font-size: 0.8rem;
}

.profile-topic h1{
  font-weight: 600;
  font-size: 1.1rem;
}

.profile-pic h2{
  font-size: 1.1rem;
}
  }
  
  @media (max-width: 1496px) {
    #bx {
      font-size: 2rem;
    }
  
    #arrow {
      font-size: 2.2rem;
      margin-left: 2rem;
    }
  
    .footer-card {
      gap: 5rem;
    }
  
    .footer-card a {
      color: black;
      font-size: 1rem;
      list-style: disc;
    }
  
    .cards {
      width: 170px;
      gap: 2.5rem;
    }
  
    .cart h1 {
      font-size: 1.8rem;
    }
    .cards h2 {
      font-size: 0.7rem;
    }
  
    .cards button {
      padding: 0.5rem 1rem;
      font-size: 0.7rem;
    }
  
    .card-data h1 {
      font-size: 1rem;
    }
    .cards img {
      height: 130px;
      width: 100%;
    }
    .sub-account{

      width: 100%;
    }
    
    .account-box{
    
    
     
      margin-top: 3rem;
      margin-bottom: 5rem;
    
    
    
    }
    .account-box-1{
    
      padding: 0.8rem;
      width: 100%;
    }
    
    .profile-box{
    
      width: 100%;
     
    
    
    }
    
    .account-box-1 input{
    
      margin:0.8rem ;
      width: 320px;
      height: 35px;
      padding: 0.7rem;
      font-size: 0.7rem;
     
    
    }
    
    .account-box-1 label {
      font-size: 0.8rem;
    
    }
    
    
    
    .save {
      width: 100%;
    
      padding:0 1rem;
    }
    
    .save button{
    
      width: 200px;
    
      height: 35px;
    
      font-size: 0.9rem;
    
    }
    
    
    
    .profile-pic{
     
      top: 20px;
      left: 10px;
      width: 310px;
     
      height: 150px;
    }
   
    
    .user-name{
    
      gap: 0.7rem;
      margin-top: 0.7rem;
    }
    
    .user-name-1 h3,h4{
     
      font-size: 0.8rem;
    }
    
    .profile-topic h1{

      font-size: 1rem;
    }
    
    .profile-pic h2{
      font-size: 1rem;
    }
  }
  
  @media (max-width: 1370px) {
    .list-2 a {
      font-size: 1rem;
      letter-spacing: 1.3px;
    }
    .list-2 {
      gap: 0.8rem;
    }
    .search {
      position: relative;
    }
    .search input {
      font-size: 0.9rem;
    }
  
    .bx-search-alt-2 {
      right: 10px;
      font-size: 1.2rem;
    }
  
    .cart h1 {
      font-size: 2rem;
    }
    .cards h2 {
      font-size: 0.8rem;
    }
  
    .cards button {
      font-size: 10px;
      padding: 0.5rem 1.5rem;
    }
  
    .cards {
      width: 180px;
    }
  
    .footer-card a {
      color: black;
      font-size: 1rem;
      list-style: disc;
    }
  
    #bx {
      font-size: 1.9rem;
    }
    #arrow {
      font-size: 2rem;
      margin-left: 2rem;
    }
  
    .header-sub-nav {
      gap: 1rem;
    }
    .header-sub-nav li a {
      font-size: 0.9rem;
    }
    .card-data h1 {
      font-size: 1rem;
    }
    .profile-pic{
      position: absolute;
      top: 20px;
      left: 10px;
      width: 100px;
      text-align:center;
      height: 200px;
      
    }
   
    .profile-pic h1{
      font-size: 1rem;
    }

    .user-name-1{

      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .user-name{
      flex-direction: column;
      align-items: center;
    }
    .sub-account{

      width: 100%;
    }
    
    .account-box{
    
    
     
      margin-top: 2.5rem;
      margin-bottom: 4rem;
    
    
    
    }
    .account-box-1{
    
      padding: 0.8rem;
      width: 100%;
    }
    
    .profile-box{
    
      width: 100%;
     
    
    
    }
    
    .account-box-1 input{
    
      margin:0.8rem ;
      width: 370px;
      height: 40px;
      padding: 0.7rem;
      font-size: 0.8rem;
     
    
    }
    
    .account-box-1 label {
      font-size: 0.9rem;
    
    }
    
    
    
    .save {
      width: 100%;
    
      padding:0 1rem;
    }
    
    .save button{
    
      width: 190px;
    
      height: 35px;
    
      font-size: 0.9rem;
    
    }
    
    
    
    .profile-pic{
     
      top: 20px;
      left: 10px;
      width: 300px;
     
      height: 150px;
    }
 
    .user-name{
    
      gap: 0.7rem;
      margin-top: 0.7rem;
    }
    
    .user-name-1 h3,h4{
     
      font-size: 0.7rem;
    }
    
    .profile-topic h1{

      font-size: 0.9rem;
    }
    
    .profile-pic h2{
      font-size: 0.9rem;
    }

    .error-correct{

      margin-top: 2rem;

    }

    .error-correct h3{

      padding: 0.2rem;
    }
  }
  
  @media (max-width: 1334px) {
    .footer-card a {
      font-size: 0.9rem;
    }
    #bx {
      font-size: 1.3rem;
    }
    #arrow {
      font-size: 1.3rem;
      margin-left: 1.5rem;
    }
  
    .cart h1 {
      font-size: 1.7rem;
    }
    .card-data h1 {
      font-size: 1rem;
    }
  
    .cards img {
      height: 140px;
      width: 100%;
    }
  }
  @media (max-width: 1320px) {
    .list-footer h2 {
      font-size: 1.4rem;
    }
  }
  
  @media (max-width: 1244px) {
    .list-footer h2 {
      font-size: 1.2rem;
    }
  }
  
  @media (max-width: 1221px) {
    .list-2 a {
      font-size: 1rem;
      letter-spacing: 1px;
      margin: 0;
    }
  
    .nav-links li a {
      font-size: 0.8rem;
    }
  
    .nav-links {
      gap: 1.5rem;
    }
  
    .cards h2 {
      font-size: 0.7rem;
    }
  
    .cards img {
      height: 130px;
      width: 100%;
    }
  
    .search input {
      width: 600px;
    }
    /* .profile-pic{
      position: absolute;
      top: 20px;
      left: 10px;
      width: 180px;
      text-align:center;
      height: 200px;
      
    }
    .profile-pic img{
    
      width: 70px;
      padding: 0.7rem;
      height: 70px;
      background-color: #e6e6e6;
      border-radius: 50px;

    } */

    .profile-pic h1{
      font-size: 1rem;
    }

    .user-name-1{

      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .user-name{
      flex-direction: column;
      align-items: center;
    }
    .sub-account{

      width: 100%;
    }
    
    .account-box{
    
    
     
      margin-top: 2.5rem;
      margin-bottom: 4rem;
    
    
    
    }
    .account-box-1{
    
      padding: 0.8rem;
      width: 100%;
    }
    
    .profile-box{
    
      width: 100%;
     
    
    
    }
    
    .account-box-1 input{
    
      margin:0.8rem ;
      width: 250px;
      height: 28px;
      padding: 0.7rem;
      font-size: 0.7rem;
     
    
    }
    
    .account-box-1 label {
      font-size: 0.8rem;
    
    }
    
    
    
    .save {
      width: 100%;
    
      padding:0 1rem;
    }
    
    .save button{
    
      width: 180px;
    
      height: 35px;
    
      font-size: 0.8rem;
    
    }
    
    
    
    .profile-pic{
     
      top: 20px;
      left: 10px;
      width: 290px;
     
      height: 150px;
    }
  
    
    .user-name{
    
      gap: 0.7rem;
      margin-top: 0.7rem;
    }
    
    .user-name-1 h3,h4{
     
      font-size: 0.6rem;
    }
    
    .profile-topic h1{

      font-size: 0.8rem;
    }
    
    .profile-pic h2{
      font-size: 0.8rem;
    }
  }
  
  @media (max-width: 1144px) {
    .list-2 a {
      font-size: 0.8rem;
      letter-spacing: 1.3px;
    }
  
    #bx {
      font-size: 1.5rem;
    }
    #arrow {
      font-size: 1.5rem;
      margin-left: 2rem;
    }
  
    .header-1 {
      gap: 0;
      margin: 0;
      gap: 2rem;
    }
  
    .search input {
      font-size: 0.8rem;
    }
  
    .list-footer h2 {
      font-size: 1.1rem;
    }
  
   
  }
  @media (max-width: 1080px) {
    .search input {
      width: 450px;
      font-size: 1.1rem;
    }
  }
  
  @media (max-width: 1000px) {

    .orders button{
  
      width: 110px;
    
      height: 38px;
    
      font-size: 0.8rem;
      
    
    }
.orders{
text-align: center;
}
    .bar-topic {
      display: none;
    }
    header {
      position: static;
      top: 0;
      right: 0;
      z-index: 10055;
      width: 100%;
    }
  
    .bx-cart-alt:hover {
      transform: translate(0);
    }
    .bxs-user:hover {
      background-color: rgb(55, 55, 55);
      border-radius: 10px;
    }
  
    .bxs-cart-alt:hover {
      background-color: rgb(55, 55, 55);
      border-radius: 10px;
    }
    .list li a {
      margin: 0;
      padding: 0;
    }
  
    #u-logo {
      font-size: 1.6rem;
    }
    .bxs-cart-alt,
    .bxs-user {
      background-color: rgb(44, 44, 44);
      color: var(--main-color);
      border-radius: 10px;
      font-size: 1.8rem;
    }
    .cards:hover {
      box-shadow: none;
    }
  
    #add {
      display: none;
    }
  
    .cards {
      border-radius: 10px;
      width: 160px;
    }
    .list-2 {
      flex-direction: column;
      text-align: center;
      justify-content: flex-end;
      align-items: center;
      list-style: circle;
    }
    .navbar-icon img {
      height: 40px;
      width: 40px;
      background-color: transparent;
      background-color: rgb(40, 40, 40);
    }
    .navbar-icon h5 {
      color: rgb(61, 61, 61);
      font-size: 1.5rem;
      font-style: italic;
    }
  
    .cover-image {
      background-image: linear-gradient(rgba(0, 0, 0, 0.27), rgba(0, 0, 0, 0.17)),
        url(./clothing-store-banner-design-template-e7332aaf6402c88cb4623bf8eb6f97e2_screen.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      animation: slide 8s infinite;
      top: 0;
      display: flex;
      z-index: 0;
      align-items: flex-start;
      height: 200px;
      margin-bottom: 2rem;
    }
    .button-offer {
      display: none;
    }
  
    .cover-offer {
      display: flex;
      width: 100%;
      background-color: var(--main-color);
      align-items: center;
      justify-content: center;
      gap: 1.6rem;
      position: sticky;
      padding: 0rem 0;
      top: 0;
      z-index: 1001;
      background-color: rgb(44, 44, 44);
    }
  
    .bx-menu {
      font-size: 3rem;
      color: var(--main-color);
      padding: 0;
      margin: 0;
    }
  
    .hamburger {
      padding: 0;
      display: flex;
      margin: 0;
    }
  
    @keyframes slide {
      25% {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.17),
            rgba(0, 0, 0, 0.17)
          ),
          url(./clothing-store-banner-design-template-e7332aaf6402c88cb4623bf8eb6f97e2_screen.jpg);
      }
  
      50% {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.17),
            rgba(0, 0, 0, 0.25)
          ),
          url(./flash-sale-banner-template-with-shopping-bags-vector.jpg);
      }
  
      75% {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.17),
            rgba(0, 0, 0, 0.18)
          ),
          url(./flash-sale-banner-template-with-shopping-bags-vector.jpg);
      }
  
      100% {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.27)),
          url(./177616911-flash-sale-banner-design-template-offer-shopping-on-dark-blue-background-vector-illustration.jpg);
      }
    }
  
    header {
      position: static;
      top: 0;
      right: 0;
      z-index: 1005;
      width: 100%;
    }
  
    .header-sub-nav {
      position: fixed;
      top: 0;
      right: -1000px;
      height: 100vh;
      transition:0.3s;
      z-index: 1002;
      width: 40%;
      background-color: var(--main-color);
    }
  
    .nav-links {
      flex-direction: column;
      align-items: flex-start;
      justify-content:flex-start;
      z-index: 0;
      transition: 0.3s;
  
      width: 300px;
    }
  
    #active-2 {
      padding: 0;
    }
    .nav-links li {
      padding: 0.2rem;
    }
  
    .nav-links li a {
      font-size: 1.2rem;
      font-weight: 100;
      color: rgb(71, 71, 71);
    }
  
    .header-sub-nav.active {
      right: 0;
      transition: 0.3s;
      overflow: auto;
      z-index: 1002;
      box-shadow: rgba(50, 50, 93, 0.35) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }
  
    #navbar-icon-mobile {
      position: absolute;
      width: 100px;
      height: 130px;
      top: -50px;
      left: 90px;
      display: flex;
    }
    #navbar-icon-mobile img {
      height: 70px;
      width: 80px;
    }
  
    .search {
      display: none;
    }
  
    .tem {
      display: flex;
      width: max-content;
      justify-content: center;
      align-items: center;
      z-index: 1000;
      height: 60px;
      width: 100%;
    }
    .header-1 {
      justify-content: space-around;
      /* bottom: 0; */
      z-index: 1000;
      margin: 0;
      border: none;
      padding: 0.5rem;
      width: 100%;
    }
  
    .tem input {
      border: none;
      outline: none;
      height: 40px;
      padding: 0 0.3rem;
      width: 400px;
      background-color: var(--back-color);
      margin: 0;
      font-size: 0.95rem;
      border-radius: 0;
    }
  
    .tem button {
      background-color: var(--main-color);
      color: whitesmoke;
      border: none;
      height: 40px;
      width: 40px;
      margin: 0;
      padding: 0 0.3rem;
      border-radius: 0;
  
    }
    .bx-search {
      font-size: 1rem;
      font-weight: 600;
      color: rgb(44, 44, 44);
    }
    .footer-card {
      gap: 5rem;
    }
  
    .cover-image {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    #smobile {
      padding: 0.7rem 2rem;
      border-radius: 40px;
      background-color: #e4ba35;
      font-weight: bold;
      font-size: 0.9rem;
    }
    .bar {
      width: 35px;
      height: 10px;
      padding: 0.2rem;
      background-color: rgb(41, 41, 41);
      margin: 3px;
      border-radius: 50px;
      justify-content: center;
    }
    .list-2 li {
      padding: 1.2rem;
    }
  
    .list-2 li a {
      font-size: 1rem;
      font-weight: 300;
    }
  
    .footer-card a {
      font-size: 0.8rem;
    }
  
    #bx {
      font-size: 1.3rem;
    }
    #arrow {
      font-size: 1.2rem;
      margin-left: 0.8rem;
    }
  
    .list-footer h2 {
      font-size: 1rem;
    }
    .profile-pic{
      display: none;
    }

    .profile{
      display: inline;
    }
    .profile h1{
      font-size: 1rem;
    }

    .user-name-1{

      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .user-name{
      flex-direction: column;
      align-items: center;
    }
   

    .profile{
     
      top: 20px;
      left: 10px;
      width: 290px;
     
      height: 150px;
    }
    .profile img{
    
      width: 80px;
      padding: 0.7rem;
      height: 100%;
    
    }
    
    .user-name{
    
      gap: 0.7rem;
      margin-top: 0.7rem;
    }
    
    .user-name-1 h3,h4{
     
      font-size: 0.6rem;
    }
   
    
    .profile h2{
      font-size: 0.8rem;
      text-align: center;
      margin-top: 2rem;
    }
  }
  
  @media (max-width: 950px) {
    #search-mobile input {
      width: 450px;
      padding: 1rem;
    }
  
    #smobile {
      padding: 0.7rem 2rem;
      font-size: 0.8rem;
    }
    .bar {
      width: 35px;
      height: 10px;
      padding: 0.2rem;
      margin: 2px;
    }
  
    .footer-card a {
      font-size: 0.6rem;
    }
  
    #bx {
      font-size: 1.1rem;
    }
    #arrow {
      font-size: 1.1rem;
      margin-left: 0.4rem;
    }
  }
  
  @media (max-width: 900px) {
    #social {
      gap: 0.1rem;
    }
  
    .footer-card {
      gap: 3rem;
    }
  }
  
  .copyright {
    gap: 7rem;
  }
  
  .header-sub-nav.active {
    width: 50%;
  }
  
  @media (max-width: 750px) {
    .header-sub {
      width: 50%;
    }
  
    .cards {
      margin: 0;
    }
    .cart-1 {
      padding: 0;
    }
    .nav-links {
      width: 200px;
    }
  }
  
  @media (max-width: 800px) {
    .copyright {
      flex-direction: column-reverse;
      align-items: center;
      gap: 5px;
    }
  
    .copyright a {
      font-size: 0.6rem;
    }
  }
  
  @media (max-width: 681px) {
    .cards {
      width: 150px;
    }
    #bx {
      font-size: 0.8rem;
    }
    #arrow {
      font-size: 0.9rem;
    }
    .footer-card {
      gap: 1rem;
    }
  
    .list-2 li {
      padding: 1rem;
    }
  
    .card-data h1 {
      font-size: 0.9rem;
    }
  
    .list-2 li a {
      font-size: 0.8rem;
      font-weight: 600;
    }
  
    .footer-card a {
      font-size: 0.6rem;
    }
    #search-mobile input {
      width: 300px;
      padding: 0.5rem;
    }
  
    #smobile {
      padding: 0.5rem 1rem;
      font-size: 0.7rem;
    }
    .bar {
      width: 25px;
      height: 8px;
      padding: 0.1rem;
      margin: 3px;
    }
  
    .cards img {
      height: 130px;
      width: 100%;
    }
  
    .list-footer h2 {
      font-size: 0.9rem;
    }
  }
  
  @media (max-width: 590px) {
    .tem input {
      width: 340px;
    }
  }
  
  @media (max-width: 580px) {
    #search-mobile input {
      width: 250px;
      padding: 0.4rem;
    }
  
    #smobile {
      padding: 0.4rem 1rem;
      font-size: 0.6rem;
    }
    #footer {
      /* font-size: 0.6rem; */
      gap: 0.6rem;
    }
  
    .header-sub {
      width: 65%;
    }
    .nav-links li a {
      font-size: 1rem;
    }
    #notify {
     
      left: 30px;
     
    }
  }
  @media (max-height: 800px) {
    .header-0 {
      height: 100vh;
    }
  }
  
  @media (max-height: 500px) {
    .cards {
      border: none;
    }
    .header-0 {
      overflow: auto;
      height: 1000px;
    }
    .list-2 {
      overflow: auto;
    }
  }
  
  @media (max-width: 520px) {

    .orders button{
  
      width: 100px;
    
      height: 35px;
    
      font-size: 0.7rem;
      
    
    }
    .cards {
      width: 180px;
      margin: 0;
      border-radius: 7px;
      border: none;
      padding: 0;
    }
    .cards img {
      border-radius: 0;
    }
  
    .footer-card {
      flex-direction: column-reverse;
      align-items: first baseline;
    }
    /* footer {
      height: 650px;
    } */
  
    /* .list-footer a {
      font-size: 0.8rem;
    } */
  
    .list-footer {
      margin-bottom: 1rem;
      margin-left: 2rem;
    }
  
    #bx {
      font-size: 1.5rem;
    }

  .profile-pic h1{
    font-size: 0.8rem;
  }

  .user-name-1{

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .user-name{
    flex-direction: column;
    align-items: center;
  }
  .sub-account{

    width: 100%;
  }
  
  .account-box{
  
  
   
    margin-top: 1.5rem;
    margin-bottom: 3rem;
  
  
  
  }
  .account-box-1{
  
    padding: 0.8rem;
    width: 100%;
  }
  
  .profile-box{
  
    width: 100%;
   
  
  
  }
  
  .account-box-1 input{
  
    margin:0.8rem ;
    width: 200px;
    height: 28px;
    padding: 0.7rem;
    font-size: 0.7rem;
   
  
  }
  
  .account-box-1 label {
    font-size: 0.8rem;
  
  }
  
  
  
  .save {
    width: 100%;
  
    padding:0 1rem;
  }
  
  .save button{
  
    width: 150px;
  
    height: 35px;
  
    font-size: 0.8rem;
  
  }
  
  
  
  .profile{
   
    top: 20px;
    left: 10px;
    width: 250px;
   
    height: 150px;
  }
  .profile img{
  
    width: 80px;
    padding: 0.7rem;
    height: 100%;
  
  }
  
  .user-name{
  
    gap: 0.7rem;
    margin-top: 0.7rem;
  }
  
  .user-name-1 h3,h4{
   
    font-size: 0.6rem;
  }
  
  .profile-topic h1{

    font-size: 0.8rem;
  }
  
  .profile-pic h2{
    font-size: 0.8rem;
  }
  }
  
  @media (max-width: 480px) {
    #social {
      width: max-content;
      gap: 0;
      margin-top: 1.4rem;
    }
  
    .bx-menu {
      color: var(--main-color);
    }
    .footer-card {
      align-items: first baseline;
      justify-content: flex-end;
    }
    .bxs-cart-alt,
    .bxs-user {
      background-color: rgb(44, 44, 44);
      color: var(--main-color);
      font-size: 1.7rem;
      border-radius: 10px;
    }
    .header-1 {
      justify-content: space-between;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  
    .cover-offer {
      padding: 0;
      padding-bottom: 0.2rem;
      gap: 1rem;
      background-color: rgb(44, 44, 44);
    }
  
    #discount {
      font-size: 1rem;
    }
    .cards {
      width: 170px;
      margin: 1px;
    }
    #u-logo {
      font-size: 1.4rem;
    }
    .header-sub-nav.active {
      width: 60%;
    }
  
    .nav-links li {
      padding: 0.2rem;
    }
    .nav-links li a {
      color: rgb(57, 57, 57);
      font-size: 1.1rem;
    }
  
    .bx-search {
      font-size: 1.3rem;
      color: rgb(44, 44, 44);
    }
    .tem input {
      width: 310px;
      font-size: 1.1rem;
    }
    .tem button {
      background-color: var(--main-color);
    }
    #smobile {
      padding: 0.4rem 0.7rem;
      font-size: 0.6rem;
    }
  
    .cards img {
      height: 120px;
      width: 100%;
    }
  
    .cart-1 {
      margin-bottom: 2rem;
    }
  
    .list-footer h2 {
      font-size: 0.8rem;
    }
    .bx-cart-alt {
      border-radius: 0;
    }
  }
  
  @media (max-width: 420px) {
    .bxs-cart-alt,
    .bxs-user {
      font-size: 1.4rem;
    }
    .cards {
      margin: 0;
      width: 190px;
      height: max-content;
    }
  
    .cards img {
      height: 160px;
    }
    .tem input {
      padding: 0.7rem;
      width: 260px;
      font-size: 1rem;
    }
    .tem button {
      padding: 0.6rem;
    }
  }
  
  @media (max-height: 420px) {
    .header-sub-nav.active {
    }
    .nav-links li {
      padding: 0;
    }
    .nav-links li a {
      font-size: 1rem;
    }
  }
  @media (max-width: 400px) {
    #search-mobile input {
      width: 180px;
      padding: 0.2rem;
    }
  
    .bxs-cart-alt,
    .bxs-user {
      font-size: 1.4rem;
    }
    .header-sub-nav.active {
      width: 70%;
    }
    .navbar-icon img {
      height: 30px;
      width: 30px;
    }
  
    .cards {
      width: 180px;
    }
    .header-0 {
      width: 70%;
    }
    #smobile {
      padding: 0.3rem 0.5rem;
      font-size: 0.6rem;
    }
    .list-footer h2 {
      font-size: 0.7rem;
    }
    .cart-1 {
      gap: 0.5rem;
    }
  
    #search-mobile input {
      width: 90px;
      padding: 0.3rem;
    }
  }
  @media (max-width: 390px) {
    .header-sub {
      width: 75%;
    }
    .bxs-cart-alt,
    .bxs-user {
      font-size: 1.4rem;
    }
  
    .nav-links {
      width: 160px;
    }
    .nav-links li a {
      font-size: 1rem;
    }
    .bx-cart-add,
    .bx-user-plus {
      font-size: 1.3rem;
    }
    .navbar-icon img {
      width: 30px;
      height: 30px;
    }
    .cards {
      margin: 0;
      width: 170px;
    }
  
    .list-2 {
      justify-content: flex-start;
      margin-top: 0;
      align-items: center;
    }
  }
  
  @media (max-width: 380px) {
    .tem input {
      font-size: 0.9rem;
      width: 250px;
    }
    .tem button {
      padding: 0.8rem;
    }
    .bx-search {
      font-size: 1rem;
    }
    .tem input {
      width: 200px;
      font-size: 1.1rem;
    }
    .tem {
      margin-top: 0.2rem;
    }
  
    .bx-menu {
      font-size: 2.5rem;
      font-weight: 800;
    }
    .navbar-icon img {
      height: 40px;
      width: 40px;
    }
  
    .bxs-cart-alt,
    .bxs-user {
      font-size: 1.3rem;
    }
    #u-logo h5 {
      font-size: 1.2rem;
    }
  }
  
  @media (max-width: 370px) {
    .cards {
      width: 160px;
    }
  
    #social {
      width: auto;
      gap: 0.1rem;
    }
    .list-footer {
      justify-content: center;
      gap: 0.1rem;
    }
    #bx {
      font-size: 1rem;
    }
    .footer-card {
      width: 100%;
    }
  }
  
  @media (max-width: 360px) {
    .cards {
      width: 160px;
    }
  }
  
  @media (max-width: 350px) {
    .header-sub-nav.active {
      width: 78%;
    }
  
    @media (max-width: 320px) {
      .header-1 {
        justify-content: center;
      }
    }
  }
  