@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Gabarito', sans-serif;
  scroll-behavior: smooth;
}
:root {
  --back-color: #fffdfa;
  --a-color: rgb(153, 114, 16);
  --list-color: rgb(43, 43, 43);
  --shadow: rgb(101, 101, 101);
  --buttons: rgba(252, 184, 0, 255);
  --main-color:#ffbc04;

}

body {
  background-color: var(--back-color);
}

.container-login-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.box-login {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 0.8rem;
  height: 650px;
  width: 410px;
  margin: 1rem;
  padding: 1.8rem;
  border-radius: 20px;

}
.create-account{

  position: absolute ;
  top: 20px;
  right: 30px;
}
.create-account h4,a{

  font-size: 1rem;
}
a {
  color: rgb(54, 54, 248);

}
.box-login button {
  padding: 0.8rem;
  border: 1px solid grey;
  font-size: 0.9rem;
  border-radius: 20px;
}

.box-login input {
  padding: 0.9rem;
  border-radius: 10px;
  border: 1px solid grey;
  width: 100%;
  font-size: 0.9rem;
}



.f-l-box{

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}
p{
  margin-bottom: 1rem;
  font-size: 0.8rem;
  margin-top: 1rem;
  line-height: 17px;
}




#continue {
  background-color: var(--buttons);
  color: whitesmoke;
  margin-bottom: 1rem;
  font-weight: 600;
}

.box-login button:hover {
  background-color: #dbdbdb;
  cursor: pointer;
}

#account {
  color: #e5bb32;
  font-weight: 600;
  font-size: 1.2rem;
}

.box-login a:hover {
  color: orange;
}
#continue:hover {
  background-color: #edc339;
  cursor: pointer;
}


h3 {
  margin-bottom: 1.1rem;
  font-size: 0.8rem;
  font-weight: 400;
}

h1{
    font-size: 1.8rem;
    margin-bottom: 1.4rem;
}

hr{
  margin-bottom: 1rem;
}

.logo img {
  height: 130px;
  width: 130px;
  position: absolute;
  background-color: rgb(40, 40, 40);
  border-radius: 200px;
  top: 10px;
  left: 10px;
}

.message  {
  /* border: 1px solid red; */
  height: auto;
  width: 100%;
}

#fill{

  color: var(--main-color);
}
#error{
  color: rgb(255, 52, 52);

}

#correct{

  color: rgb(0, 198, 0);
}

.pass-box{

  width: 100%;
  position: relative;

}

.pass-box input{
  width: 100%;
}
.bx-low-vision{
  position: absolute;
  top: 10px;
  right: 15px;
 font-size: 1.4rem;
 color: rgb(69, 69, 69);
}
#continue {
  background-color: rgb(92, 92, 92);
  color: whitesmoke;
  margin-bottom: 0.9rem;
  font-weight: 600;
  font-size: 1.3rem;
  border-radius: 40px;
}
#google{

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  gap: 2rem;
  font-size: 1rem;
  margin-bottom: 1.4rem;
}

#google:hover{

  background-color: #dbdbdb;
}
.box-login button {
  padding: 0.8rem;
  border: 1px solid grey;
  font-size: 0.9rem;
  border-radius: 40px;
}



/* @media (max-width: 1650px) {

  
  .box-login {
 
   
    height: 490px;
    width: 300px;
    margin: 1rem;
    padding: 1.2rem;
    border-radius: 20px;
  }
  
  .box-login button {
    padding: 0.5rem;
    border: 1px solid grey;
    font-size: 0.7rem;
  }
  
  .box-login input {
    padding: 0.5rem;
    border: 1px solid grey;
    font-size: 0.7rem;
  }
  
  #continue {
    color: whitesmoke;
    margin-bottom: 0.8rem;
    font-weight: 600;
  }
  
  .box-login button:hover {
    background-color: #dbdbdb;
    cursor: pointer;
  }
  
  #account {
    color: #e5bb32;
    font-weight: 600;
    font-size: 0.9rem;
  }
  
  .box-login a:hover {
    color: orange;
  }
  #continue:hover {
    background-color: #edc339;
    cursor: pointer;
  }
  p {
    font-size: 0.7rem;
  line-height: 14px;

  }

  .password{
    margin-bottom: 1rem;
  }
  h3 {
    margin-bottom: 1rem;
    font-size: 0.8rem;
    font-weight: 400;
  }
  
  h1{
      font-size: 1.6rem;
  }
  
  .logo img {
    height: 110px;
    width: 110px;
    position: absolute;
    background-color: rgb(40, 40, 40);
    border-radius: 200px;
    top: 10px;
    left: 10px;
  }
  
} */

@media(max-width:1400px){

  
.box-login {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 0.5rem;
  height: 500px;
  width: 410px;
  margin: 1rem;
  padding: 1.8rem;
  border-radius: 20px;

}
.create-account{

  position: absolute ;
  top: 20px;
  right: 30px;
}
.create-account h4,a{

  font-size: 1rem;
}
a {
  color: rgb(54, 54, 248);

}
.box-login button {
  padding: 0.7rem;
  border: 1px solid grey;
  font-size: 0.9rem;
  border-radius: 20px;
}

.box-login input {
  padding: 0.7rem;
  border-radius: 10px;
  border: 1px solid grey;
  width: 100%;
  font-size: 0.9rem;
}

.f-l-box{

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}
p{
  margin-bottom: 0.8rem;
  font-size: 0.8rem;
  margin-top: 1rem;
  line-height: 17px;
}




#continue {
  background-color: var(--buttons);
  color: whitesmoke;
  margin-bottom: 1rem;
  font-weight: 600;
}

.box-login button:hover {
  background-color: #dbdbdb;
  cursor: pointer;
}

#account {
  color: #e5bb32;
  font-weight: 600;
  font-size: 1.2rem;
}

.box-login a:hover {
  color: orange;
}
#continue:hover {
  background-color: #edc339;
  cursor: pointer;
}


h3 {
  margin-bottom: 1.1rem;
  font-size: 0.8rem;
  font-weight: 400;
}

h1{
    font-size: 1.6rem;
    margin-bottom: 1.2rem;
}

hr{
  margin-bottom: 1rem;
}

.logo img {
  height: 130px;
  width: 130px;
  position: absolute;
  background-color: rgb(40, 40, 40);
  border-radius: 200px;
  top: 10px;
  left: 10px;
}

.pass-box{

  width: 100%;
  position: relative;

}

.pass-box input{
  width: 100%;
}
.bx-low-vision{
  position: absolute;
  top: 10px;
  right: 15px;
 font-size: 1.4rem;
 color: rgb(69, 69, 69);
}
#continue {
  background-color: rgb(92, 92, 92);
  color: whitesmoke;
  margin-bottom: 0.9rem;
  font-weight: 600;
  font-size: 1.3rem;
  border-radius: 40px;
}
#google{

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  gap: 2rem;
  font-size: 1rem;
  margin-bottom: 1.4rem;
}

#google:hover{

  background-color: #dbdbdb;
}
.box-login button {
  padding: 0.8rem;
  border: 1px solid grey;
  font-size: 0.9rem;
  border-radius: 40px;
}


}




@media (max-width: 650px) {
 
  .box-login {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 0.4rem;
    height: 500px;
    width: 300px;
    border-radius: 20px;
  }

  .box-login button {
    padding: 0.7rem;
    border: 1px solid rgb(167, 167, 167);
    font-size: 0.7rem;
    border-radius: 20px;
  }

  .box-login input {
    padding: 0.7rem;
    border-radius: 10px;
    border: 1px solid rgb(167, 167, 167);
    font-size: 1rem;
  }

  #continue {
    color: whitesmoke;
    font-weight: 400;
  }

  .box-login button:hover {
    background-color: #dbdbdb;
    cursor: pointer;
  }

  #account {
    color: #e5bb32;
    font-weight: 400;
  }

  .box-login a:hover {
    color: orange;
  }
  #continue:hover {
    background-color: #edc339;
    cursor: pointer;
  }


  h3 {
    margin-bottom: 1rem;
    font-size: 0.9rem;
    font-weight: 400;
  }
  p {
    font-size: 0.7rem;
    font-weight: 100;
    margin-top: 1.2rem;
  }
  label {
    font-size: 1rem;
  }
  a {
    font-size: 0.8rem;
  }
  h1{
    font-size: 1.3rem;
    margin-top: 1rem;
}


#email{
  font-size: 0.7rem;
}
  .logo img {
    height: 70px;
    width: 70px;
    position: absolute;
    background-color: rgb(40, 40, 40);
    border-radius: 200px;
    top: 10px;
    left: 10px;
  }
  #checkbox {
    height: 10px;
    margin-top: 1rem;
  }
  
 
}